.article {
    color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background: #EBECF0;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.articleClick {
    box-shadow: inset 5px 5px 10px #cfd0d3, inset -5px -5px 10px #ffffff;
    transition: all 0.2s ease-in-out;
}

.article span {
    font-size: 30px;
    height: 20px;
    font-family: 'Merriweather', serif;
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFF;
}

.article-name {
    text-align: center;
    padding: 10px 10px 0 10px;
    line-height: 1.35;
    font-weight: 500;
    font-size: 1.2rem;
    color: #61677C;
    letter-spacing: .15rem;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.238);
}

.article-footer {
    color: #BABECC;
    padding: 10px;
    position: absolute;
    display: flex;
    bottom: 0;
    width: 95%;
    justify-content: space-between;
}