.inputs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 35px 0;
}

.inputs .text-input {
	-webkit-appearance: none;
	padding: 1rem;
	/* border-radius: 5px; */
	border: none;
	width: 350px;
	outline: none;
	border-radius: 2rem;
	background-color: #EBECF0;
	font-size: 1rem;
	letter-spacing: 0.1em;
	font-family: 'Montserrat', sans-serif;
	box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
	-webkit-box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
	margin: 0 5px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.inputs .text-input:focus {
	box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.inputs .inputs-button {
	-webkit-appearance: none;
	display: block;
	width: 50px;
	height: 50px;
	border: none;
	outline: none;
	border-radius: 50%;
	background: #EBECF0;
	box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
	text-align: center;
	color: #FF6B35;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all .2s ease-in-out;
	position: relative;
	align-self: flex-end;
}

.inputs-button img {
	width: 35px;
	height: 38px;
}

.inputs .submit-button span {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -52%);
	transform: translate(-51%, -52%);
	font-family: 'Merriweather', sans-serif;
	font-weight: 500;
	font-size: 45px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.inputs .submit-button:hover {
	box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.inputs .submit-button:active {
	box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.inputs div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
	justify-content: center;
}

.inputs div label {
	margin-bottom: 15px;
	line-height: 150%;
	font-size: 1rem;
	letter-spacing: 0.1em;
	font-family: 'Montserrat', sans-serif;
	color: #61677C;
	text-shadow: 1px 1px 1px #FFF;
}

/* COLOR PICKER STYLE */

.color-picker {
	background: #EBECF0;
	width: 50px;
	height: 50px;
	border-radius: 7px;
	-webkit-appearance: none;
	border: none;
	cursor: pointer;
	box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
	transition: all .2s ease-in-out;
}

.color-picker::-webkit-color-swatch-wrapper {
	padding: 10px;
	border-radius: 50%;
}

.color-picker::-webkit-color-swatch {
	border-radius: 50%;
	border: none;
}

.color-picker:hover {
	box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.color-picker:focus {
	outline: 0;
	box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

/* .color-picker:active {
} */

/* RESPONSIVE  */

@media screen and (max-width:1090px) {
	.inputs {
		width: 100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.inputs div {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin: 10px 0;
		min-width: 300px;
		width: 30%
	}
	.inputs .text-input {
		min-width: 300px;
		width: 30%;
	}
	.inputs .inputs-button{
		align-self: auto;
		margin-top: 30px;
	}
	.color-picker {
		width: 100px;
	}
	.color-picker::-webkit-color-swatch {
		border-radius: 999999999px;
	}
}

.inputs input.error {
	border: 1px solid red;
}