.alert-card {
	position: fixed;
	display: flex;
	align-items: center;
	color: #fff;
	min-width: 250px;
	max-width: 90%;
	min-height: 45px;
	border-radius: 5px;
	padding: 10px;
	-webkit-box-shadow: 1px 2px 5px -3px rgba(0, 0, 0, 1);
	-moz-box-shadow: 1px 2px 5px -3px rgba(0, 0, 0, 1);
	box-shadow: 1px 2px 5px -3px rgba(0, 0, 0, 1);
	bottom: 50px;
	z-index: 99999;
}
.alert-card img{
	color: #fff;
	width: 20px;
	margin-right: 15px;
}
.alert-card p{
	margin-right: 30px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}
.alert-card span {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.alert-card[close='1']{
	animation: transition-close .5s;
}
.alert-card[close='0']{
	animation: transition-open .5s;
}



@keyframes transition-open{
	0% {
	  opacity:0;
	  transform:  rotate(0deg) scaleX(0) scaleY(0) ;
	}
	100% {
	  opacity:1;
	  transform:  rotate(0deg) scaleX(1) scaleY(1) ;
	}

  }
  @keyframes transition-close{
	  0% {
		  opacity:1;
		  transform:  rotate(0deg) scaleX(1) scaleY(1) ;
		}
		
		100% {
		  opacity:0;
		  transform:  rotate(0deg) scaleX(0) scaleY(0) ;
		}
  }