article {
    color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 27px;
    background: linear-gradient(145deg, #e66030, #ff7239);
    box-shadow: 6px 6px 20px #e86130, -6px -6px 20px #ff753a;
}

article span {
    font-size: 30px;
    height: 20px;
    font-family: 'Merriweather', serif;
    color: #d9f0ff;
    text-shadow: 1px 1px 1px #FFF;
}

.article-name {
    text-align: center;
    padding: 10px 10px 0 10px;
    line-height: 1.35;
    font-weight: 500;
    font-size: 20px;
    color: #bde6ff;
    letter-spacing: .15rem;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.238);
}

.article-footer {
    padding:10px;
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
}