.inputs input{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    
    margin: 0 5px;
}
.inputs button{
    padding: 5px 10px;
    cursor: pointer;
}
.inputs{
    display: flex;
    margin: 35px 0;
}

.inputs div label{
    line-height: 150%;
}
@media screen and (max-width:630px){
    .inputs{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inputs div{
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        width: 300px;
    }
    .inputs button{
        width: 100px;
    }
}