.loaderctnr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #BABECC;
  will-change: opacity;
}

.article-skeleton {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  color: rgb(255, 255, 255);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
  padding: 10px;
  background: #EBECF0;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  border-radius: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding: 2rem;
}
.article-skeleton::before {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #babecc1e;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#babecc1e),
      to(#babecc1e)
    ),
    -webkit-gradient(linear, left top, left bottom, from(#ebecf0), to(#ebecf0)),
    -webkit-gradient(linear, left top, left bottom, from(#ebecf0), to(#ebecf0)),
    -webkit-gradient(linear, left top, left bottom, from(#ebecf0), to(#ebecf0));
  background-image: -webkit-linear-gradient(#babecc1e, #babecc1e),
    -webkit-linear-gradient(#ebecf0, #ebecf0), -webkit-linear-gradient(#ebecf0, #ebecf0),
    -webkit-linear-gradient(#ebecf0, #ebecf0);
  background-image: linear-gradient(#babecc1e, #babecc1e),
    linear-gradient(#ebecf0, #ebecf0), linear-gradient(#ebecf0, #ebecf0),
    linear-gradient(#ebecf0, #ebecf0);
  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
}

.article-skeleton::after {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background-color: #ebecf0;
  border-radius: 7.5px;
}

.first {
  -webkit-animation: 1.5s loader infinite;
          animation: 1.5s loader infinite;
}

.second {
  -webkit-animation: 1.5s .25s loader infinite;
          animation: 1.5s .25s loader infinite;
}

.third {
  -webkit-animation: 1.5s .5s loader infinite;
          animation: 1.5s .5s loader infinite;
}

@-webkit-keyframes loader {
  0% {
    background: rgb(186, 190, 204, 1);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    background: rgb(186, 190, 204, .5);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  100% {
    background: rgb(186, 190, 204, .1);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes loader {
  0% {
    background: rgb(186, 190, 204, 1);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    background: rgb(186, 190, 204, .5);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  100% {
    background: rgb(186, 190, 204, 1);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}