.articles {
    /* border: 1px solid red; */
    display: grid;
    width: 85%;
    padding: 40px;
    margin-top: 30px;
    background: #EBECF0;
    grid-template-columns: repeat(auto-fit, minmax(290px, 2fr));
    grid-auto-rows: minmax(300px, auto);
    gap: 2rem;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-bottom: 15px;
    height: 150px;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100vw;
    background: #EBECF0;
}

.App h1 {
    margin: 30px 0 0 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFF;
    font-size: 2.5rem;
    letter-spacing: 0.3em;
    font-weight: 700;
}

@media screen and (max-width:800px) {
    .App h1 {
        font-size: 3.5vmax;
    }
}